.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width:992px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 2px solid #eee;
    padding: 10px;
    margin-left: 15px;
}

.form__button {
    background-color: teal;
    color: white;
    margin-left: 15px;
    padding: 10px;
    border: none;
    transition: background-color 0.3s, transform 0.6s;
}

.form__button:hover {
    background-color: hsl(180, 99%, 35%);
    transform: scale(1.05);
    cursor: pointer;
}

.form__button:active {
    background-color: hsl(180, 91%, 86%);
}