.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Wyrównanie do lewej */
}

.buttons__button {
    background: transparent;
    color: hsl(180, 100%, 25%);
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
    cursor: pointer;
}

@media (max-width:767px) {
    .buttons {
        flex-direction: column; /* Ustawienie przycisków w kolumnie na mniejszych ekranach */
        align-items: flex-end; /* Wyrównanie do lewej na mniejszych ekranach */
    }

    .buttons__button {
        flex-basis: 100%;
        margin: 10px 0;
    }
}

.buttons__button:hover {
    color: #000;
}

.buttons__button:disabled {
    color: #ededed;
    cursor: default;
}
